@import url("https://fonts.googleapis.com/css?family=Just+Another+Hand");
* {
  margin: 0px;
  padding: 0px;
}

/* Style the top navigation bar */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #426a9e;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #426a9e;
  color: white;
  height: 10vh;
  background-image: url("./images/logo.png");
  background-position: center;
  background-size: 8vh;
  background-repeat: no-repeat;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: red;
}

.navbar a {
  color: white;
  padding: 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search input[type="text"] {
  padding: 12px;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  width: 30vh;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 10vh;
  background-color: #426a9e;
  color: white;
  /*
	a{
		text-decoration: none;
		color: white;
		background-color: $navbar-top;
		padding: 5px;
		&:hover {
			background-color: #ddd;
			color: black;
		}
	}
	*/
}

.profile h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
}

#profileimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #333;
  color: white;
  height: 7vh;
  width: 7vh;
  margin-left: 3vh;
  background-image: url("./images/naruto.png");
  background-position: center;
  background-size: 10vh;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #211a1d;
  color: #fdfffc;
  height: 200px;
}

.footer-item {
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-item * {
  margin: 0;
}

/* Separator (vertical line) between itens */
.footer-item-sep {
  background-color: #fdfffc;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 80%;
  width: 3px;
  padding: 0;
}

.footer-item-1 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 0px;
          flex: 2 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-item-2 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 0px;
          flex: 3 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-item-top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-item-top h2 {
  font-weight: normal;
}

.footer-item-top h3 {
  font-size: 1.3em;
}

.footer-item-bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#social-media-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#social-media-list li {
  text-align: center;
}

#news-email {
  height: 45px;
  width: 350px;
  margin: 0 20px;
}

#news-button {
  height: 45px;
  width: 100px;
  background: #3f84e5;
  border-radius: 5px;
  color: #fdfffc;
  font-size: 1.1em;
}

#news-button:hover {
  background-color: #192bc2;
}

/* Editing font awesome favicons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Just Another Hand', cursive;
  overflow-X: hidden;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 25%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #1c1c1c;
  -webkit-box-shadow: 0 11px 22px rgba(0, 0, 0, 0), 0 7px 7px rgba(0, 0, 0, 0);
          box-shadow: 0 11px 22px rgba(0, 0, 0, 0), 0 7px 7px rgba(0, 0, 0, 0);
}

.container input {
  display: none;
}

.container .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container .slide_img img {
  width: inherit;
  height: inherit;
}

.container .slide_img .prev, .container .slide_img .next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;
  -webkit-transition: .45s;
  transition: .45s;
  cursor: pointer;
  text-align: center;
}

.container .slide_img .next {
  right: 0;
}

.container .slide_img .prev {
  left: 0;
}

.container .slide_img .prev:hover, .container .slide_img .next:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0);
}

.container .slide_img .prev span, .container .slide_img .next span {
  position: absolute;
  width: 0px;
  height: 0px;
  border: solid 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container .slide_img .prev span {
  border-color: transparent #fff transparent transparent;
  right: 35%;
}

.container .slide_img .next span {
  border-color: transparent transparent transparent #fff;
  left: 35%;
}

.container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

.container #nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 3px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.container #nav_slide #dot1:hover {
  background: #795548;
}

.container #nav_slide #dot2:hover {
  background: #F44336;
}

.container #nav_slide #dot3:hover {
  background: #2196F3;
}

.container #nav_slide #dot4:hover {
  background: #4CAF50;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
  z-index: 9;
  -webkit-animation: scroll 1s ease-in-out;
          animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1 {
  background: #795548;
}

#i2:checked ~ #nav_slide #dot2 {
  background: #F44336;
}

#i3:checked ~ #nav_slide #dot3 {
  background: #2196F3;
}

#i4:checked ~ #nav_slide #dot4 {
  background: #4CAF50;
}

@-webkit-keyframes scroll {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 685px) {
  .container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }
  .container .slide_img .prev, .container .slide_img .next {
    width: 15%;
  }
  .container .slide_img .prev span, .container .slide_img .next span {
    border: solid 12px;
  }
  .container .slide_img .prev span {
    border-color: transparent #fff transparent transparent;
  }
  .container .slide_img .next span {
    border-color: transparent transparent transparent #fff;
  }
  .container #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}

.img-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-button {
  font-size: 30px;
  width: 1200px;
  height: 500px;
  border: none;
  text-decoration: none;
  color: white;
  background-position: center;
  background-size: cover;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button1 {
  background-image: url("./images/products.jpg");
}

.button1:hover {
  background-image: url("./images/products-blur.jpg");
}

.button2 {
  background-image: url("./images/services.jpg");
}

.button2:hover {
  background-image: url("./images/services-blur.jpg");
}

.above-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.above-slide h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title2 {
  margin: 4%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #333;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row,
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Ensures that all elements width and height already include the padding and border. */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */