.polaroid {
	box-shadow: 0 0 10px black;
	align-self: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.polaroid img {
	object-fit: cover;
}
.polaroid p {
	font-weight: bolder;
	font-size: large;
	align-self: center;
	text-align: center;
	padding: 5px 20px;
	color: white;
}

.pol1 {
	grid-area: polaroid1;
}

.pol2 {
	grid-area: polaroid2;
}

.pol2 {
	grid-area: polaroid3;
}

.scheduleform {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	width: 65%;
	height: 40%;
	margin: 0 auto;
	background-color: none;
	justify-content: space-between;
	grid-gap: 2.5vh;
	grid-template-areas: "polaroid1 polaroid2 pet-register";
	align-self: center;
	margin-bottom: 5vh;
}

.polaroid {
	flex-direction: column;
	background-color: #e74c3c;
	box-shadow: 0 0 10px black;
	align-self: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.polaroid img {
	object-fit: cover;
}
.polaroid p,
.polaroid button {
	transition: all 0.1s;
	background: none;
	border: 0;
	outline: none;
	font-weight: bolder;
	font-size: large;
	justify-self: center;
	align-self: center;
	text-align: center;
	padding: 5px 20px;
	color: white;
}
.polaroid button {
	width: 100%;
	align-self: center;
}
.polaroid button:hover {
	transform: scale(1.1);
}

.pol1 {
	grid-area: polaroid1;
}

.pol2 {
	grid-area: polaroid2;
}
