@import url("https://fonts.googleapis.com/css?family=Just+Another+Hand");
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #eeeeee; }

/* Style the top navigation bar */
.header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.158);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  z-index: 100;
  position: absolute; }

.logo {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 10vh;
  width: 10vh;
  margin-left: 15vh;
  background-image: url("images/logo.png");
  background-position: center;
  background-size: 6vh;
  background-repeat: no-repeat; }

.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: center;
  margin-left: 8vh;
  margin-right: 10vh; }
  .navbar a {
    color: white;
    padding: 3.48vh 2vh;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
    .navbar a:hover {
      border-bottom: .4vh solid white; }

.active {
  border-bottom: .4vh solid white; }

.search {
  align-self: center;
  justify-content: center; }
  .search input[type="text"] {
    padding: 0.8vh;
    border: none;
    font-size: 1rem;
    border-radius: 1.5vh;
    width: 40vh; }

.profile {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 10vh;
  color: white;
  /*
	a{
		text-decoration: none;
		color: white;
		background-color: $navbar-top;
		padding: 5px;
		&:hover {
			background-color: #ddd;
			color: black;
		}
	}
	*/ }
  .profile a {
    color: white;
    padding: 3.6vh 2vh;
    text-decoration: none;
    text-align: center;
    font-size: 1rem; }
    .profile a:hover {
      border-bottom: .4vh solid white; }

#profileimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  color: white;
  height: 7vh;
  width: 7vh;
  margin-left: 3vh;
  background-image: url("images/usericon.png");
  background-position: center;
  background-size: 6vh;
  background-repeat: no-repeat;
  border-radius: 100%; }

.footer {
  display: flex;
  background: #211a1d;
  color: #fdfffc;
  height: 175px;
  width: 100%;
  justify-content: center;
  opacity: 1; }

.footer-item {
  padding: 20px;
  flex-direction: column; }
  .footer-item * {
    margin: 0; }

/* Separator (vertical line) between itens */
.footer-item-sep {
  background-color: #fdfffc;
  align-self: center;
  height: 80%;
  width: 3px;
  padding: 0; }

.footer-item-1 {
  flex: 2 1 0;
  display: flex; }

.footer-item-2 {
  flex: 2 1 0;
  display: flex; }

.footer-item-top {
  flex: 1 1 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .footer-item-top h2 {
    font-weight: normal; }
  .footer-item-top h3 {
    font-size: 1.3em; }

.footer-item-bottom {
  flex: 1 1 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }

#social-media-list {
  flex: 1 1 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; }
  #social-media-list li {
    text-align: center; }

#news-email {
  height: 45px;
  width: 350px;
  margin: 0 20px;
  border-radius: 5px; }

#news-button {
  cursor: pointer;
  height: 45px;
  width: 100px;
  background: #125688;
  border-radius: 5px;
  border: none;
  color: #fdfffc;
  font-size: 1.1em; }
  #news-button:hover {
    background-color: #0a304b; }

/* Editing font awesome favicons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%; }

.fa:hover {
  opacity: 0.7; }

.fa-facebook {
  background: #3B5998;
  color: white; }

.fa-instagram {
  background: #125688;
  color: white; }

.fa-twitter {
  background: #55ACEE;
  color: white; }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Just Another Hand', cursive;
  overflow-X: hidden; }

.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 35%;
  user-select: none;
  background-color: #1c1c1c;
  box-shadow: 0 11px 22px rgba(0, 0, 0, 0.3), 0 7px 7px rgba(0, 0, 0, 0.3); }
  .container input[type="radio"] {
    display: none; }
  .container .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -1; }
    .container .slide_img img {
      width: inherit;
      height: inherit; }
    .container .slide_img h1 {
      position: absolute;
      width: 100%;
      z-index: 99;
      text-align: center;
      align-self: center;
      transition: .45s;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 5vw;
      color: white;
      font-weight: bold; }
      .container .slide_img h1 h2 {
        font-size: 2vw; }
    .container .slide_img .prev, .container .slide_img .next {
      width: 12%;
      height: inherit;
      position: absolute;
      top: 0;
      background-color: transparent;
      z-index: 99;
      transition: .45s;
      cursor: pointer;
      text-align: center; }
    .container .slide_img .next {
      right: 0; }
    .container .slide_img .prev {
      left: 0; }
    .container .slide_img .prev:hover, .container .slide_img .next:hover {
      transition: .3s;
      background-color: transparent; }
    .container .slide_img .prev span, .container .slide_img .next span {
      position: absolute;
      width: 0px;
      height: 0px;
      border: solid 20px;
      top: 50%;
      transform: translateY(-50%); }
    .container .slide_img .prev span {
      border-color: transparent transparent transparent transparent;
      right: 35%; }
    .container .slide_img .next span {
      border-color: transparent transparent transparent transparent;
      left: 35%; }
  .container #nav_slide {
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default; }
    .container #nav_slide .dots {
      top: -0.5vh;
      width: 1.8vh;
      height: 1.8vh;
      margin: 0 0.3vh;
      position: relative;
      border-radius: 100%;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.6);
      transition: .4s;
      cursor: pointer; }
    .container #nav_slide #dot1:hover {
      background: #fcf809; }
    .container #nav_slide #dot2:hover {
      background: #F44336; }
    .container #nav_slide #dot3:hover {
      background: #2196F3; }
    .container #nav_slide #dot4:hover {
      background: #4CAF50; }

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
  z-index: 9;
  animation: scroll 1s ease-in-out; }

#i1:checked ~ #nav_slide #dot1 {
  background: #fcf809; }

#i2:checked ~ #nav_slide #dot2 {
  background: #F44336; }

#i3:checked ~ #nav_slide #dot3 {
  background: #2196F3; }

#i4:checked ~ #nav_slide #dot4 {
  background: #4CAF50; }

@keyframes scroll {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 68.5vh) {
  .container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%; }
    .container .slide_img .prev, .container .slide_img .next {
      width: 15%; }
    .container .slide_img .prev span, .container .slide_img .next span {
      border: solid 12px; }
    .container .slide_img .prev span {
      border-color: transparent #fff transparent transparent; }
    .container .slide_img .next span {
      border-color: transparent transparent transparent #fff; }
    .container #nav_slide .dots {
      width: 12px;
      height: 12px; } }

#menu-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 65%;
  height: 40vh;
  margin: 0 auto;
  background-color: none;
  justify-content: space-between;
  grid-gap: 2.5vh;
  grid-template-areas: "homebutton1 homebutton2";
  align-self: center;
  margin-bottom: 5vh; }
  #menu-home a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 3px black;
    text-decoration: none; }

.home-button {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border: none;
  background-position: center center;
  background-size: cover;
  transition: all .5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(65, 2, 2, 0.19); }
  .home-button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    transition: inherit; }
  .home-button:hover:before {
    transform: scale(1.1); }
  .home-button p {
    position: relative;
    text-align: center;
    top: 42%; }

.button1 {
  grid-area: homebutton1;
  background-image: url("images/categorias/products.jpg"); }
  .button1:hover {
    background-image: url("images/categorias/products.jpg"); }

.button2 {
  grid-area: homebutton2;
  background-image: url("images/categorias/services.jpg"); }
  .button2:hover {
    background-image: url("images/categorias/services.jpg"); }

.above-slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto; }
  .above-slide h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #083b99;
  width: 100%;
  height: 0;
  transition: .5s ease; }

.title2 {
  margin: 4%;
  align-self: center;
  text-align: center;
  color: #333;
  font-size: 5vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column; } }

.login-container {
  width: 50%;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 7.5%; }

.login-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  width: 50%;
  padding: 20px;
  opacity: .5;
  color: #fdfffc; }
  .login-item:hover {
    background-color: #080357;
    opacity: 1; }
  .login-item a {
    color: #d7cdcc; }
  .login-item #register-now {
    color: #ff8400;
    display: inline; }
  .login-item input[type="text"], .login-item input[type="password"] {
    background: none;
    display: block;
    width: 220px;
    transition: 0.4s;
    color: #fdfffc;
    margin: 10px auto;
    text-align: center;
    padding: 14px 10px;
    border: 0;
    border: 2px solid #3f84e5;
    outline: none;
    border-radius: 24px;
    opacity: .5; }
    .login-item input[type="text"]:hover, .login-item input[type="password"]:hover {
      opacity: 1; }
    .login-item input[type="text"]:focus, .login-item input[type="password"]:focus {
      opacity: 1;
      width: 250px;
      border: 2px solid #ff8400;
      transition-duration: 0.1s; }
  .login-item .send_info[type="submit"] {
    background: none;
    display: block;
    width: 150px;
    color: #fdfffc;
    margin: 10px auto;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    border: 0;
    border: 2px solid #ff8400;
    outline: none;
    border-radius: 24px;
    cursor: pointer; }
    .login-item .send_info[type="submit"]:hover {
      background: #ff8400;
      transition-duration: 0.1s; }

.login-icon {
  background: #3f84e5;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  border: 4px solid #fdfffc; }

* {
  margin: 0px;
  padding: 0px; }

.service-title {
  width: 100%;
  margin: 5vh 0px;
  text-align: center;
  align-self: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.menu-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 65%;
  height: 70vh;
  margin: 0 auto;
  background-color: none;
  grid-gap: 2.5vh;
  grid-template-areas: "a a b" "a a f" "e d f" "e d c";
  align-self: center;
  margin-bottom: 5vh; }
  .menu-services a {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 3px black;
    text-decoration: none; }

.btn-serv {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border: none;
  background-position: center center;
  background-size: cover;
  transition: all 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(65, 2, 2, 0.19); }
  .btn-serv:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    transition: inherit; }
  .btn-serv:hover:before {
    transform: scale(1.1); }
  .btn-serv p {
    position: relative;
    text-align: center;
    top: 42%; }

.serv1 {
  background-image: url("images/categorias/services.jpg");
  grid-area: a; }
  .serv1:hover {
    background-image: url("images/categorias/services.jpg"); }

.serv2 {
  background-image: url(images/categorias/castracao.jpg);
  grid-area: b; }
  .serv2:hover {
    background-image: url(images/categorias/castracao.jpg); }

.serv3 {
  background-image: url(images/categorias/consulta.jpg);
  grid-area: c; }
  .serv3:hover {
    background-image: url(images/categorias/consulta.jpg); }

.serv4 {
  background-image: url(images/categorias/vacinacao.jpg);
  grid-area: d; }
  .serv4:hover {
    background-image: url(images/categorias/vacinacao.jpg); }

.serv5 {
  background-image: url(images/categorias/adestramento.jpg);
  grid-area: e; }
  .serv5:hover {
    background-image: url(images/categorias/adestramento.jpg); }

.serv6 {
  background-image: url(images/categorias/lar.jpg);
  grid-area: f; }
  .serv6:hover {
    background-image: url(images/categorias/lar.jpg); }

.scheduler {
  margin: 10vh auto;
  width: 80%;
  display: flex;
  flex-direction: column; }

.time-selector {
  background: #083b99;
  color: #fdfffc;
  flex: 3 1 0;
  display: flex;
  align-items: center; }
  .time-selector #book-query {
    flex: 3 1 0;
    text-align: center;
    font-size: 2rem;
    height: 100%;
    background-color: #211a1d; }
  .time-selector input,
  .time-selector select {
    transition: 0.4s;
    margin: 1vh auto;
    text-align: center;
    padding: 14px 10px;
    border: 0;
    outline: none;
    border-radius: 24px;
    font-weight: bold;
    opacity: 0.5;
    background-color: #d7cdcc; }
    .time-selector input:hover,
    .time-selector select:hover {
      opacity: 1; }
  .time-selector .tsel-item1 {
    flex: 3 1 0;
    align-self: stretch;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .time-selector .tsel-item1 .tsel-up {
      flex: 6 1 0;
      text-align: center;
      display: flex;
      align-items: center; }
      .time-selector .tsel-item1 .tsel-up .weeks {
        flex: 5 1 0;
        background-color: #6e6968;
        height: 100%;
        opacity: 0.8; }
        .time-selector .tsel-item1 .tsel-up .weeks input {
          width: 30%; }
      .time-selector .tsel-item1 .tsel-up .days {
        flex: 5 1 0;
        height: 100%; }
        .time-selector .tsel-item1 .tsel-up .days select {
          margin: 6% 3%; }
    .time-selector .tsel-item1 .tsel-down {
      flex: 4 1 0;
      text-align: center;
      background-color: #6e6968;
      opacity: 0.8; }
      .time-selector .tsel-item1 .tsel-down span {
        margin: 3% 0; }
  .time-selector .tsel-item2 {
    flex: 3 1 0;
    text-align: center; }
    .time-selector .tsel-item2 select {
      width: 30%;
      margin: 2% 0;
      background-color: #d7cdcc; }

.row-separator {
  margin: 0;
  padding: 0;
  background-color: #d7cdcc;
  align-self: center;
  width: 3px;
  height: 100%; }

.column-separator {
  margin: 0;
  padding: 0;
  background-color: #d7cdcc;
  align-self: center;
  height: 3px;
  width: 100%; }

.time-display {
  background: #080357;
  display: flex; }
  .time-display .display-day {
    color: #fdfffc;
    display: flex;
    flex-direction: column;
    flex: 1 1 0; }
    .time-display .display-day > p {
      margin: 2% 0; }
    .time-display .display-day > div {
      display: flex;
      flex-direction: column;
      background-color: #d7cdcc; }
      .time-display .display-day > div .display-slot {
        border: 3px solid #211a1d;
        margin: 2px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        height: 60px; }
        .time-display .display-day > div .display-slot .hour {
          width: 60px;
          text-align: center; }
        .time-display .display-day > div .display-slot .empty {
          flex: 1 1 0;
          font-size: 26px;
          text-align: center; }
        .time-display .display-day > div .display-slot .icon {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          margin: 0 3px; }
        .time-display .display-day > div .display-slot .service {
          font-size: 24px;
          text-align: center;
          flex: 1 1 0; }
        .time-display .display-day > div .display-slot .info {
          flex: 1 1 0;
          align-self: center;
          text-align: center;
          font-size: 14px; }
          .time-display .display-day > div .display-slot .info .service {
            font-size: 16px; }
        .time-display .display-day > div .display-slot .of {
          font-size: 16px;
          color: #ff8400; }
        .time-display .display-day > div .display-slot .pet {
          font-size: 16px; }
      .time-display .display-day > div .free {
        background-color: #0ec70b; }
      .time-display .display-day > div .reserved {
        background-color: #6e6968; }

.pagination {
  flex: 0.5 1 0;
  padding: 2vh 5vh;
  background: #211a1d;
  text-align: center; }
  .pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .pagination ul li {
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 3px; }
  .pagination .prev {
    float: left; }
  .pagination .next {
    float: right; }
  .pagination input [type="number"] {
    /*		appearance: none;*/ }

* {
  padding: 0px; }

#service-title {
  width: 100%;
  margin: 5vh 0px;
  text-align: center;
  align-self: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

#menu-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 65%;
  height: 70vh;
  margin: 0 auto;
  background-color: none;
  grid-gap: 2.5vh;
  grid-template-areas: "a b f" "a c d" "e c d";
  align-self: center;
  margin-bottom: 5vh; }
  #menu-products a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 3px black;
    text-decoration: none; }

#foods {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 65%;
  height: auto;
  margin: 0 auto;
  background-color: none;
  justify-content: space-between;
  grid-gap: 2.5vh;
  grid-template-areas: "food1 food2 food3 food4" "food5 food6 food7 food8";
  align-self: center;
  margin-bottom: 5vh; }
  #foods div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vh;
    color: black; }

.btn-prod {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border: none;
  background-position: center center;
  background-size: cover;
  transition: all .5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(65, 2, 2, 0.19); }
  .btn-prod:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    transition: inherit; }
  .btn-prod:hover:before {
    transform: scale(1.1); }
  .btn-prod p {
    position: relative;
    text-align: center;
    top: 42%; }

.prod1 {
  background-image: url(images/categorias/alimentacao.jpg);
  grid-area: a; }
  .prod1:hover:before {
    background-image: url(images/categorias/alimentacao.jpg); }

.prod2 {
  background-image: url(images/categorias/products.jpg);
  grid-area: b; }
  .prod2:hover:before {
    background-image: url(images/categorias/products.jpg); }

.prod3 {
  background-image: url(images/categorias/petiscos.jpg);
  grid-area: c; }
  .prod3:hover:before {
    background-image: url(images/categorias/petiscos.jpg); }

.prod4 {
  background-image: url(images/categorias/passeio.jpg);
  grid-area: d; }
  .prod4:hover:before {
    background-image: url(images/categorias/passeio.jpg); }

.prod5 {
  background-image: url(images/categorias/clothes.jpg);
  grid-area: e; }
  .prod5:hover:before {
    background-image: url(images/categorias/clothes.jpg); }

.prod6 {
  background-image: url(images/categorias/ambiente.jpg);
  grid-area: f; }
  .prod6:hover:before {
    background-image: url(images/categorias/ambiente.jpg); }

.item-unity {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "imagem imagem titulo titulo titulo" "imagem imagem descricao descricao descricao" "imagem imagem descricao descricao descricao" "imagem imagem preco preco preco" "buttonadd buttonadd buttonadd buttonadd buttonadd";
  grid-column-gap: 0.0vh;
  margin: 0 auto;
  padding: 0;
  border: none;
  background-color: white;
  background-position: center;
  background-size: 100%;
  justify-items: center;
  transition-duration: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(65, 2, 2, 0.19); }
  .item-unity img {
    grid-area: imagem;
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .item-unity #nome-item {
    margin-top: 2vh;
    width: 90%;
    height: 100%;
    grid-area: titulo;
    justify-self: start;
    text-align: left; }
  .item-unity #descricao-item {
    width: 90%;
    height: 100%;
    justify-self: start;
    grid-area: descricao;
    text-align: left; }
  .item-unity #preco {
    font-size: 2vh;
    font-weight: bold;
    color: mediumseagreen;
    justify-self: start;
    grid-area: preco; }
  .item-unity #adicionar-carrinho {
    grid-area: buttonadd;
    width: 100%;
    height: 5vh;
    align-self: end;
    background-color: gainsboro;
    outline: none;
    border: 0;
    font-size: 1.5vh;
    font-weight: bold;
    transition: all .3s; }
    .item-unity #adicionar-carrinho:hover {
      background-color: cadetblue; }
  .item-unity div {
    grid-area: addremove;
    width: 100%; }

.btn-handleItemAmount {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .btn-handleItemAmount input {
    text-align: center;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    font-weight: bold;
    transition: all .05s; }
    .btn-handleItemAmount input:focus, .btn-handleItemAmount input:hover {
      background-color: khaki;
      transform: scale(1.1); }
  .btn-handleItemAmount button {
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    transition: all .05s; }
  .btn-handleItemAmount #less {
    background-color: tomato; }
    .btn-handleItemAmount #less:hover {
      background-color: tomato;
      transform: scale(1.1); }
  .btn-handleItemAmount #plus {
    background-color: mediumseagreen; }
    .btn-handleItemAmount #plus:hover {
      background-color: mediumseagreen;
      transform: scale(1.1); }

.food1 {
  grid-area: food1;
  width: 100%; }

.food2 {
  grid-area: food2;
  width: 100%; }

.food3 {
  grid-area: food3;
  width: 100%; }

.food4 {
  grid-area: food4;
  width: 100%; }

.food5 {
  grid-area: food5;
  width: 100%; }

.food6 {
  grid-area: food6;
  width: 100%; }

.food7 {
  grid-area: food7;
  width: 100%; }

.food8 {
  grid-area: food8;
  width: 100%; }

.customsection {
  margin: 0 auto;
  display: flex;
  text-align: center;
  width: 65%;
  height: 8vh;
  margin-bottom: 5vh;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(65, 2, 2, 0.19); }
  .customsection p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
    font-weight: bold;
    align-self: center;
    color: white; }

#menu-profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 65%;
  height: 70vh;
  margin: 0 auto;
  background-color: none;
  justify-content: space-between;
  grid-gap: 2.5vh;
  grid-template-areas: "btn-prof1 btn-prof2 btn-prof2"  "btn-prof1 btn-prof4 btn-prof4";
  align-self: center;
  margin-bottom: 5vh; }
  #menu-profile a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 3px black;
    text-decoration: none; }

.prof1 {
  background-image: url("images/profile/profileinfo.jpg");
  grid-area: btn-prof1; }

.prof2 {
  background-image: url("images/profile/petmanager.jpg");
  grid-area: btn-prof2; }

.prof3 {
  background-image: url("images/products-header.jpg");
  grid-area: btn-prof3; }

.prof4 {
  background-image: url("images/profile/schedule.jpg");
  grid-area: btn-prof4; }

#infoform {
  display: flex;
  width: 65%;
  height: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh; }

.infosection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .infosection p, .infosection .btn-add2, .infosection input {
    display: block;
    transition: 0.4s;
    width: 220px;
    margin: 1vh auto;
    text-align: center;
    padding: 14px 10px;
    border: 0;
    outline: none;
    border-radius: 24px;
    font-weight: bold;
    opacity: .5; }
    .infosection p:hover, .infosection .btn-add2:hover, .infosection input:hover {
      opacity: 1; }
  .infosection p, .infosection .btn-add2 {
    background-color: mediumseagreen;
    box-shadow: 0 0 5px mediumseagreen;
    color: white; }
  .infosection input {
    background: none;
    border: 2px solid dodgerblue; }
    .infosection input:focus {
      opacity: 1;
      background-color: white;
      width: 250px; }
  .infosection div {
    width: 75%;
    height: 37.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(65, 2, 2, 0.19); }

#petform {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 65%;
  height: 40%;
  margin: 0 auto;
  background-color: none;
  justify-content: space-between;
  grid-gap: 2.5vh;
  grid-template-areas: "polaroid1 polaroid2 polaroid3 pet-register";
  align-self: center;
  margin-bottom: 5vh; }
  #petform a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 3px black;
    text-decoration: none; }

.pet1 {
  background-image: url("images/profile/pet1.png");
  grid-area: btn-pet1; }

.pet2 {
  background-image: url("images/profile/pet2.jpg");
  grid-area: btn-pet2; }

.pet3 {
  background-image: url("images/profile/pet3.jpg");
  grid-area: btn-pet3; }

.pet4 {
  background-image: url("images/profile/admin1.jpg");
  grid-area: btn-pet4; }

.petregister {
  grid-area: pet-register;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(65, 2, 2, 0.19);
  width: 100%;
  height: 100%; }
  .petregister input {
    margin: 2vh 1vw; }

.btn-add {
  width: 6vh;
  height: 6vh;
  font-size: 100px;
  color: white;
  background-color: mediumseagreen;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(65, 2, 2, 0.1);
  border: 0;
  outline: none;
  border-radius: 1000%;
  transition-duration: 0.5s;
  opacity: 0.5; }
  .btn-add:hover {
    transform: scale(1.1);
    opacity: 1; }

.scheduleform {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 65%;
  height: 40%;
  margin: 0 auto;
  background-color: none;
  justify-content: space-between;
  grid-gap: 2.5vh;
  grid-template-areas: "polaroid1 polaroid2 pet-register";
  align-self: center;
  margin-bottom: 5vh; }

.polaroid {
  box-shadow: 0 0 10px black;
  align-self: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  .polaroid img {
    object-fit: cover; }
  .polaroid p {
    font-weight: bolder;
    font-size: large;
    align-self: center;
    text-align: center;
    padding: 5px 20px;
    color: white; }

.pol1 {
  grid-area: polaroid1; }

.pol2 {
  grid-area: polaroid2; }

.pol2 {
  grid-area: polaroid3; }

#menu-profile-admin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 65%;
  height: 70vh;
  margin: 0 auto;
  background-color: none;
  justify-content: space-between;
  grid-gap: 2.5vh;
  grid-template-areas: "btn-admin1 btn-admin1 btn-admin2 btn-admin2"  "btn-admin1 btn-admin1 btn-admin3 btn-admin3" "btn-admin5 btn-admin5 btn-admin4 btn-admin4";
  align-self: center;
  margin-bottom: 5vh; }
  #menu-profile-admin a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 3px black;
    text-decoration: none; }

.admin1 {
  background-image: url("images/profile/profileinfo.jpg");
  grid-area: btn-admin1; }

.admin2 {
  background-image: url("images/profile/clients.jpeg");
  grid-area: btn-admin2; }

.admin3 {
  background-image: url("images/products-header.jpg");
  grid-area: btn-admin3; }

.admin4 {
  background-image: url("images/profile/schedule.jpg");
  grid-area: btn-admin4; }

.admin5 {
  background-image: url("images/profile/services.jpeg");
  grid-area: btn-admin5; }

#infoform {
  display: flex;
  width: 65%;
  height: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh; }

.infosection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .infosection p, .infosection .btn-add2, .infosection input {
    display: block;
    transition: 0.4s;
    width: 220px;
    margin: .7vh auto;
    text-align: center;
    padding: 8px 10px;
    border: 0;
    outline: none;
    border-radius: 24px;
    font-weight: bold;
    opacity: .5; }
    .infosection p:hover, .infosection .btn-add2:hover, .infosection input:hover {
      opacity: 1; }
  .infosection p, .infosection .btn-add2 {
    background-color: mediumseagreen;
    box-shadow: 0 0 5px mediumseagreen;
    color: white; }
  .infosection input {
    background: none;
    border: 2px solid dodgerblue; }
    .infosection input:focus {
      opacity: 1;
      background-color: white;
      width: 250px; }
  .infosection div {
    width: 75%;
    height: 37.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(65, 2, 2, 0.19); }

.pet1 {
  background-image: url("images/profile/pet1.png");
  grid-area: btn-pet1; }

.pet2 {
  background-image: url("images/profile/pet2.jpg");
  grid-area: btn-pet2; }

.pet3 {
  background-image: url("images/profile/pet3.jpg");
  grid-area: btn-pet3; }

.pet4 {
  background-image: url("images/profile/admin1.jpg");
  grid-area: btn-pet4; }

.petregister {
  grid-area: pet-register;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(65, 2, 2, 0.19);
  width: 100%;
  height: 100%; }
  .petregister input {
    margin: 2vh 1vw; }

.btn-add {
  width: 6vw;
  height: 6vw;
  font-size: 100px;
  color: white;
  background-color: mediumseagreen;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(65, 2, 2, 0.1);
  border: 0;
  outline: none;
  border-radius: 1000%;
  transition-duration: 0.5s;
  opacity: 0.5; }
  .btn-add:hover {
    transform: scale(1.1);
    opacity: 1; }

.scheduleform {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 65%;
  height: 40%;
  margin: 0 auto;
  background-color: none;
  justify-content: space-between;
  grid-gap: 2.5vh;
  grid-template-areas: "polaroid1 polaroid2 pet-register";
  align-self: center;
  margin-bottom: 5vh; }

.polaroid {
  flex-direction: column;
  background-color: #E74C3C;
  box-shadow: 0 0 10px black;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }
  .polaroid img {
    object-fit: cover; }
  .polaroid p, .polaroid button {
    transition: all 0.1s;
    background: none;
    border: 0;
    outline: none;
    font-weight: bolder;
    font-size: large;
    justify-self: center;
    align-self: center;
    text-align: center;
    padding: 5px 20px;
    color: white; }
  .polaroid button {
    width: 100%;
    align-self: center; }
    .polaroid button:hover {
      transform: scale(1.1); }

.pol1 {
  grid-area: polaroid1; }

.pol2 {
  grid-area: polaroid2; }

/* Ensures that all elements width and height already include the padding and border. */
* {
  box-sizing: border-box; }

/* Style the body */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0; }
