@import "colors";
@import "utils";

* {
	margin: 0px;
	padding: 0px;
}

$navbar-top: rgb(96, 134, 190);

.service-title {
	width: 100%;
	margin: 5vh 0px;
	text-align: center;
	align-self: center;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.menu-services {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	width: 65%;
	height: 70vh;
	margin: 0 auto;
	background-color: none;
	grid-gap: 2.5vh;
	grid-template-areas: "a a b" "a a f" "e d f" "e d c";
	align-self: center;
	margin-bottom: 5vh;

	a {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
		font-size: 40px;
		color: white;
		font-weight: bold;
		text-shadow: 0px 0px 3px black;
		text-decoration: none;
	}
}

.btn-serv {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;

	margin: 0 auto;
	border: none;
	background-position: center center;
	background-size: cover;
	transition: all 0.5s;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(65, 2, 2, 0.19);

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: inherit;
		transition: inherit;
	}

	&:hover:before {
		transform: scale(1.1);
	}

	p {
		position: relative;
		text-align: center;
		top: 42%;
	}
}

// Banho e tosa
.serv1 {
	background-image: url("images/categorias/services.jpg");
	grid-area: a;

	&:hover {
		background-image: url("images/categorias/services.jpg");
	}
}

// Castração
.serv2 {
	background-image: url(images/categorias/castracao.jpg);
	grid-area: b;
	&:hover {
		background-image: url(images/categorias/castracao.jpg);
	}
}

// Consulta
.serv3 {
	background-image: url(images/categorias/consulta.jpg);
	grid-area: c;

	&:hover {
		background-image: url(images/categorias/consulta.jpg);
	}
}

// Vacinacao
.serv4 {
	background-image: url(images/categorias/vacinacao.jpg);
	grid-area: d;

	&:hover {
		background-image: url(images/categorias/vacinacao.jpg);
	}
}

// Adestracao
.serv5 {
	background-image: url(images/categorias/adestramento.jpg);
	grid-area: e;

	&:hover {
		background-image: url(images/categorias/adestramento.jpg);
	}
}

// Lar temporario
.serv6 {
	background-image: url(images/categorias/lar.jpg);
	grid-area: f;

	&:hover {
		background-image: url(images/categorias/lar.jpg);
	}
}

.scheduler {
	margin: 10vh auto;
	width: 80%;
	display: flex;
	flex-direction: column;
}

.time-selector {
	background: $my-blue;
	color: $my-white;
	flex: 3 1 0;
	display: flex;
	align-items: center;

	#book-query {
		flex: 3 1 0;
		text-align: center;
		font-size: 2rem;
		height: 100%;
		//@include flex-center(row);
		background-color: $my-black;
	}

	input,
	select {
		transition: 0.4s;

		margin: 1vh auto;
		text-align: center;
		padding: 14px 10px;
		border: 0;
		outline: none;
		border-radius: 24px;
		font-weight: bold;
		opacity: 0.5;

		background-color: $my-lightgray;

		&:hover {
			opacity: 1;
		}
	}

	.tsel-item1 {
		flex: 3 1 0;
		align-self: stretch;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		.tsel-up {
			flex: 6 1 0;
			text-align: center;
			display: flex;
			align-items: center;
			.weeks {
				flex: 5 1 0;
				background-color: $my-darkgray;
				height: 100%;
				//@include flex-center(row);
				input {
					width: 30%;
				}
				opacity: 0.8;
			}
			.days {
				flex: 5 1 0;
				height: 100%;
				//@include flex-center(row);
				select {
					margin: 6% 3%;
				}
			}
		}
		.tsel-down {
			flex: 4 1 0;
			text-align: center;
			background-color: $my-darkgray;
			//@include flex-center(row);
			span {
				margin: 3% 0;
			}
			opacity: 0.8;
		}
	}
	.tsel-item2 {
		flex: 3 1 0;
		text-align: center;
		select {
			width: 30%;
			margin: 2% 0;
			background-color: $my-lightgray;
		}
	}
}

.row-separator {
	margin: 0;
	padding: 0;
	background-color: $my-lightgray;
	align-self: center;
	width: 3px;
	height: 100%;
}

.column-separator {
	margin: 0;
	padding: 0;
	background-color: $my-lightgray;
	align-self: center;
	height: 3px;
	width: 100%;
}

.time-display {
	background: $my-darkblue;
	display: flex;

	.display-day {
		color: $my-white;
		display: flex;
		flex-direction: column;
		flex: 1 1 0;

		> p {
			margin: 2% 0;
			//@include flex-center(row);
		}

		> div {
			display: flex;
			flex-direction: column;
			background-color: $my-lightgray;
			.display-slot {
				border: 3px solid $my-black;
				margin: 2px;
				border-radius: 15px;
				display: flex;
				align-items: center;
				height: 60px;
				.hour {
					width: 60px;
					text-align: center;
				}
				.empty {
					flex: 1 1 0;
					font-size: 26px;
					text-align: center;
				}
				.icon {
					width: 45px;
					height: 45px;
					border-radius: 50%;
					margin: 0 3px;
				}
				.service {
					font-size: 24px;
					text-align: center;
					flex: 1 1 0;
				}
				.info {
					flex: 1 1 0;
					align-self: center;
					text-align: center;
					font-size: 14px;
					// padding: 10px;
					.service {
						font-size: 16px;
					}
				}
				.of {
					font-size: 16px;
					color: $my-orange;
				}
				.pet {
					font-size: 16px;
				}
			}
			.free {
				background-color: $success;
			}
			.reserved {
				background-color: $my-darkgray;
			}
		}
	}
}

.pagination {
	flex: 0.5 1 0;
	padding: 2vh 5vh;
	background: $my-black;
	text-align: center;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			color: white;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
	}
	.prev {
		float: left;
	}
	.next {
		float: right;
	}
	input [type="number"] {
/*		appearance: none;*/
	}
}
