PAGES
------------
Home:
	• Itens: Ração, acessórios...
	• Banco de dados: Gerenciar itens (itens comprados anteriormente ou atuais)
	• Agendamento de serviços: Banho, tosa, vacina...
-------------
Edit Profile: foto(s), nome, email(s), endereço, numero(s) de telefone -> Edit Admin, Edit Customer

Admin:
	• Register administrators, customers, products, services
	• Screen for managing services
	•Product Inventory Management Screen (Add, Update, Delete,Consult)

Customer: 
	• Schedule time using calendar:
		• Display free time slots;
		• Reserved time: Display service icon and name, and animal name;

	• Cart:
		• Add item xQnt

	• Register and list animals
		• Pet details
		• Pet schedule

Login: 
	• Email address and password

-------------

Admin: 			Name, id, photo, phone, email;
Customers: 		Name, id, photo, phone, email, address;
Pet: 			Name, id, photo, race, age;
Product: 		Name, id, photo, description, price, quantity (in stock), quantity sold;
Services: 		Name, id, photo, description, price.
