/* Style the top navigation bar */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #333;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-align: center;
  color: white;
}

.logo img {
  max-width: 100px;
}

.navorder {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background-color: blue;
}

.navbar ul li {
  margin: auto;
  background-color: green;
}

.navbar ul li a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
}

.navbar ul li a:hover {
  background-color: #ddd;
  color: black;
}

.searchbar input[type="text"] {
  margin-top: 13px;
  font-size: 17px;
  display: table-cell;
  width: 300px;
  height: 40px;
}

.navprofile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
  height: 105px;
  padding: 10px;
  text-align: center;
  background: #ff8400;
  color: white;
}

.navprofile a {
  text-decoration: none;
  color: white;
}

.imgprofile img {
  border-radius: 100px;
  max-width: 10px;
  background: #ff8400;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #211a1d;
  color: white;
  height: 200px;
}

.footer-item {
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-item * {
  margin: 0;
}

/* Separator (vertical line) between itens */
.footer-item-sep {
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 80%;
  width: 3px;
  padding: 0;
}

.footer-item-1 {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 0px;
          flex: 4 1 0;
}

.footer-item-2 {
  -webkit-box-flex: 6;
      -ms-flex: 6 1 0px;
          flex: 6 1 0;
}

.footer-item-top {
  text-align: center;
}

.footer-item-bottom {
  display: inline;
}

#social-media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#social-media-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-radius: 15px;
  border: 2px solid darkgrey;
}

/* Editing font awesome favicons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Column container */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row,
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Ensures that all elements width and height already include the padding and border. */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */