@import "colors";
@import "utils";

@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Just Another Hand', cursive;
	overflow-X: hidden;
}

$big_width: 100%; 			//Slider width - large display
$big_height: 35%; 		//Slider height - large display
$big_nav_width: 12%;	// Previous and Next width - large display

$small_width: 100%; 	//Slider width - small display
$small_height: 55%; 	//Slider height - small display
$small_nav_width: 15%;// Previous and Next width - small display

$box-shadow: 0 11px 22px rgba(0, 0, 0, 0.3), 0 7px 7px rgba(0, 0, 0, 0.3);
$brown: #fcf809;
$blue: #2196F3;
$green: #4CAF50;
$magenta: #F44336;
$nav_color: rgba(0, 0, 0, 0.0);
$nav_hover_color: rgba(0, 0, 0, 0);

.container {
	margin: 0 auto;
	// margin-top: 20px;
	position: relative;
	width: $big_width;
	height: 0;
	padding-bottom: $big_height;
	user-select: none;
	background-color: #1c1c1c;
	box-shadow: $box-shadow;

	input[type="radio"] {
		display: none;
	}

	.slide_img {
		position: absolute;
		width: 100%;
		height: 100%;
		// box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		text-align: center;
		z-index: -1;
		
		img {
			width: inherit;
			height: inherit;
		}

		h1 {
			position: absolute;
			width:100%;
			z-index: 99;
			text-align: center;
			align-self: center;
			transition: .45s;

			top: 50%;
			transform: translateY(-50%);

			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			// text-shadow: 0px 0px 3px black;
			font-size: 5vw;
			color: white;
			font-weight: bold;
			// text-shadow: 1px 1px 3px black;

			h2 {
				font-size: 2vw;
			}
		}

		.prev, .next {
			width: $big_nav_width;
			height: inherit;
			position: absolute;
			top: 0;
			background-color: $nav_color;
			z-index: 99;
			transition: .45s;
			cursor: pointer;
			text-align: center;
		}
		.next {
			right: 0;
		}
		.prev {
			left: 0;
		}

		.prev:hover, .next:hover {
			transition: .3s;
			background-color: $nav_hover_color;
		}

		.prev span, .next span {
			position: absolute;
			width: 0px;
			height: 0px;
			border: solid 20px;
			top: 50%;
			transform: translateY(-50%);
		}

		.prev span {
			border-color: transparent rgba(0, 0, 0, 0.0) transparent transparent;
			right: 35%;
		}
		.next span {
			border-color: transparent transparent transparent rgba(0, 0, 0, 0.0);
			left: 35%;
		}
	}

	#nav_slide {
		width: 100%;
		bottom: 12%;
		height: 11px;
		position: absolute;
		text-align: center;
		z-index: 99;
		cursor: default;

		.dots {
			top: -0.5vh;
			width: 1.8vh;
			height: 1.8vh;
			margin: 0 0.3vh;
			position: relative;
			border-radius: 100%;
			display: inline-block;
			background-color: rgba(0, 0, 0, 0.6);
			transition: .4s;
			cursor: pointer;
		}
		
		#dot1:hover {background: $brown;}
		#dot2:hover {background: $magenta;}
		#dot3:hover {background: $blue;}
		#dot4:hover {background: $green;}
	}
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
	z-index: 9;
	animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1 {background: $brown;}
#i2:checked ~ #nav_slide #dot2 {background: $magenta;}
#i3:checked ~ #nav_slide #dot3 {background: $blue;}
#i4:checked ~ #nav_slide #dot4 {background: $green;}


@keyframes scroll {
	0% { opacity: .4;}
	100% { opacity: 1;}
}

@media screen and (max-width: 68.5vh) {
	.container {
		border: none;
		width: $small_width;
		height: 0;
		padding-bottom: $small_height;

		.slide_img {
			.prev, .next {
				width: $small_nav_width;
			}

			.prev span, .next span {
				border: solid 12px;
			}
			.prev span {
				border-color: transparent #fff transparent transparent;
			}
			.next span {
				border-color: transparent transparent transparent #fff;
			}
		}

		#nav_slide .dots {
			width: 12px;
			height: 12px;
		}
	}
}

#menu-home {
	display: grid;
	grid-template-columns: 1fr 1fr;

	width: 65%;
	height: 40%;
	margin: 0 auto;
	background-color: none;	
	justify-content: space-between;
	grid-gap: 2.5vh;
	grid-template-areas: "homebutton1 homebutton2";
	align-self: center;
	margin-bottom: 5vh;

	a {
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 40px;
		color: white;
		font-weight: bold;
		text-shadow: 0px 0px 3px black;
		text-decoration: none;
	}
}

.home-button{
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	border: none;
	background-position: center center;
	background-size: cover;
	transition: all .5s;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(65, 2, 2, 0.19);

	&:before { 
		content:"";
		position:absolute; 
		top:0;right:0;bottom:0;left:0;
		background:inherit;
		transition:inherit;
	}

	&:hover:before { 
		transform: scale(1.1);
	}

	p {
		position: relative;
		text-align: center; 
		top: 42%;
		// vertical-align: middle;
	}
}

.button1{
	grid-area: homebutton1;
	background-image: url("./images/categorias/products.jpg");
	
	&:hover{
		// background-color: $my-blue;
		background-image: url("./images/categorias/products.jpg");
	}
}

.button2{
	grid-area: homebutton2;
	background-image: url("./images/categorias/services.jpg");
	
	&:hover{
		// background-color: $my-blue;
		background-image: url("./images/categorias/services.jpg");
	}
}

.above-slide{
	display:flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	// justify-content: center;
	// background-color: white;
	// box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	h2{
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
    

}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: $my-blue;
  // overflow: hidden;
  width: 100%;
  height: 0;
	transition: .5s ease;
}

.title2{
	margin: 4%;
	align-self: center;
	text-align: center;
	color: #333;
	font-size: 5vh;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row,
    .navbar {
        flex-direction: column;
    }
}