$my-orange: rgba(255, 132, 0, 1);
$my-black: rgba(33, 26, 29, 1);
$my-lightgray: rgba(215, 205, 204, 1);
$my-white: #fdfffc;
$my-blue: rgba(25, 43, 194, 1);
$my-lightblue: #3f84e5;
$my-darkblue: rgba(8, 3, 87, 1);
$error: #ef0000;
$success: #0ec70b;
